a.code:link {
	background-color: rgb(249,249,249) !important;
	color: black !important;
	/*font-weight: bold;*/
	text-decoration: none;
	border-top: 0.15em solid silver !important;
	border-bottom: 0.15em solid silver !important;
	border-radius: 0.3em;
}

a.code:hover {
	background-color: rgb(249,249,249) !important;
	color: black !important;
	/*font-weight: bold;*/
	text-decoration: none;
	border-top: 0.15em solid gray !important;
	border-bottom: 0.15em solid gray !important;
	border-radius: 0.3em;
	/*padding: 0.2em;*/
}

a.code:active {
	background-color: rgb(249,249,249) !important;
	color: black !important;
	/*font-weight: bold;*/
	text-decoration: none;
	border-top: 0.15em solid gray !important;
	border-bottom: 0.15em solid gray !important;
	border-radius: 0.3em;
	/*padding: 0.2em;*/
}

code {
	background-color: rgb(249,249,249) !important;
	font-size: 0.90em !important;
	letter-spacing: 0.19em !important;
}