{
	"stackoverflow.com": [
		"//div[@class='post-text']/*",
		"//span[@class='comment-copy']"
	],
	"docs.python.org": [
		"//div[@class='section']/*[not(@class='section') and not(name()='dl')]",
		"//div[@class='section']/*[not(@class='section')]/dt",
		"//div[@class='section']/*[not(@class='section')]/dd/*"
	]
}