[stackoverflow.com]
find = //div[@id='question-header']/h1 |
	//div[@class='post-text']/* |
	//span[@class='comment-copy']
code = pre
	
[docs.python.org]
find = //div[@class='section']/*[not(@class='section') and not(name()='dl')] |
	//div[@class='section']/*[not(@class='section')]/dt |
	//div[@class='section']/*[not(@class='section')]/dd/*
code = pre

[sk.wikipedia.org]
find = //div[@id='mw-content-text']/* |
	//title
code = pre

[cz.wikipedia.org]
find = //div[@id='mw-content-text']/* |
	//title
code = pre

[en.wikipedia.org]
find = //div[@id='mw-content-text']/* |
	//title
code = pre

[wiki.python.org]
find = //div[@id='content']/* |
	//title
code = pre

[local_file]
find = //body/* |
	//title
code = pre

[stdin]
find = /*
code = pre
