[stackoverflow.com]
find = //div[@id='question-header']/h1 |
	//div[@class='post-text']/* |
	//span[@class='comment-copy']
	
[docs.python.org]
find = //div[@class='section']/*[not(@class='section') and not(name()='dl')] |
	//div[@class='section']/*[not(@class='section')]/dt |
	//div[@class='section']/*[not(@class='section')]/dd/*

[wikipedia.org]
find = //div[@id='mw-content-text']/* |
	//title

[wiki.python.org]
find = //div[@id='content']/* |
	//title

[github.com]
find = //div[@id='readme']/article/*

[readthedocs.io]
find = //div[@class='section']/*[not(@class='section')]

[local_file]
find = //body/* |
	//title

[stdin]
find = /*
